body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-page header {
    background-image: url(/assets/banner.jpeg);
}

header>* {
    z-index: 10;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding: 0 16px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(/assets/profile.png);
    background-size: cover;
}

.profile-name {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
}

.post {
    display: flex; 
    min-height: 200px;
    border: 1px solid #eaecee;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.25s ease;
    margin-top: 24px;
}

.post:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
}

.post-image {
    background-image: url(/assets/freestocks-I_pOqP6kCOI-unsplash.jpg);
    background-size: cover;
    background-position: center ;
    flex-basis: 40%;
}

.post-content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding:24px;
}

.post-date {
    color: #adb5bd;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 600;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
}

.post-title h4 {
    margin: 0;
}

.post-text {
    color: #495057;
    font-weight: 400;
    line-height: 1.4;
    max-height: 65px;
    overflow: hidden;
}



footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
    position: relative;
}

.nav-button.new-post-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: #004186;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
    background-color: #002349;
}

.navigation a{
    text-decoration: none;
    color: #004186;
    border: 1px solid #004186;
    border-radius: 5px;
    padding: 5px 8px;
}

a.post-link {
    text-decoration: none;
}